﻿@{
    ViewBag.Title = "About";
}

<div class="title-section">
    <h2 class="title">
        ABOUT US
    </h2>
</div>

<div class="container">
    <div class="row">
        @*column one*@

        <div class="col-md-4">
            <h3>
                Why We Do It?
            </h3>
            <p>
                Cause we love it! Addos is a family owned bakery. Since the begining, Addo’s Bakery has been known as a bakery unique for our personalized cupcakes and cakes. We take pride in using fresh ingredients in our cupcakes, cakes and desserts.

                Our treats are beautifully decorated and deliciously wholesome.  Our cupcakes, cakes and cookies are all customizable for your liking
            </p>
            
        </div>

        @*column two*@
        <div class="col-md-4">
            <h3>
                Vision
            </h3>
            <p>
                Addo’s Bakery offers a homestyle bakery experience. Our vision is to create sweets based to the preference of our customers. What makes Addo’s Bakery unique is that we let our customers mix and match different flavors to create the ultimate sweet treat.
            </p>
            
        </div>

        @*column three*@
        <div class="col-md-4">
            <h3>
                Mission
            </h3>
            <p>
                Addo’s Bakery’s philosophy is to offer delicious  custom desserts that are easily accessible to  our clients via location or delivery options. Our ingredients are high quality; each dessert is carefully made with only the finest ingredients.
            </p>
            
        </div>
    </div>

    @*IMAGES*@
    <div class="row">
        <div class="col-md-4">
            <img src="~/Content/images/col-1.png" alt="image" width="" height="" />        
        </div>

        <div class="col-md-4">
            <img src="~/Content/images/col2.png" alt="image" width="" height="" />
        </div>

        <div class="col-md-4">
            <img src="~/Content/images/col3.png" alt="image" width="" height="" />
        </div>
    </div>
