﻿
@{
    ViewBag.Title = "Gallery";
}

<div class="title-section">
    <h1 class="title">
        GALLERY
    </h1>
</div>

<section class="flat-row row-image-box">
    <div class="container">
        <div class="row gutter-10">
            <div class="col-sm-6 col-md-3">
                <div class="wrap-flexslider">
                    <div class="inner">
                        <div class="flexslider style-1 has-relative" style="height:250px; width:300px;">
                            <ul class="slides">
                                <li data-thumb="">
                                    <img src="~/Content/Gallery/oreo.png" alt="image" style="height:250px; width:300px;" />
                                    <div class="flat-icon style-1">
                                        <a href="~/Content/Gallery/oreo.png" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.flexslider -->
                    </div>
                </div>
            </div><!-- /.col-md-3 -->
            <div class="col-sm-6 col-md-3">
                <div class="wrap-flexslider">
                    <div class="inner">
                        <div class="flexslider style-1 has-relative" style="height:250px; width:300px;">
                            <ul class="slides">
                                <li data-thumb="">
                                    <img src="~/Content/Gallery/test2.png" alt="image" style="height:250px; width:300px;" />
                                    <div class="flat-icon style-1">
                                        <a href="~/Content/Gallery/test2.png" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.flexslider -->
                    </div>
                </div>
            </div><!-- /.col-md-3 -->
            <div class="col-sm-6 col-md-3">
                <div class="wrap-flexslider">
                    <div class="inner">
                        <div class="flexslider style-1 has-relative" style="height:250px; width:300px;">
                            <ul class="slides">
                                <li data-thumb="">
                                    <img src="~/Content/Gallery/test3.png" alt="image" style="height:250px; width:300px;" />
                                    <div class="flat-icon style-1">
                                        <a href="~/Content/Gallery/test3.png" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.flexslider -->
                    </div>
                </div>
            </div><!-- /.col-md-3 -->

            <div class="col-sm-6 col-md-3">
                <div class="wrap-flexslider">
                    <div class="inner">
                        <div class="flexslider style-1 has-relative" style="height:250px; width:300px;">
                            <ul class="slides">
                                <li data-thumb="">
                                    <img src="~/Content/Gallery/test4.png" alt="image" style="height:250px; width:300px;" />
                                    <div class="flat-icon style-1">
                                        <a href="~/Content/Gallery/test4.png" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.flexslider -->
                    </div>
                </div>
            </div><!-- /.col-md-3 -->
        </div>
    </div>
</section>


<section class="flat-row row-image-box">
    <div class="container">
        <div class="row gutter-10">
            <div class="col-sm-6 col-md-3">
                <div class="wrap-flexslider">
                    <div class="inner">
                        <div class="flexslider style-1 has-relative" style="height:250px; width:300px;">
                            <ul class="slides">
                                <li data-thumb="">
                                    <img src="~/Content/Gallery/bake1.png" alt="image" style="height:250px; width:300px;" />
                                    <div class="flat-icon style-1">
                                        <a href="~/Content/Gallery/bake1.png" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.flexslider -->
                    </div>
                </div>
            </div><!-- /.col-md-3 -->
            <div class="col-sm-6 col-md-3">
                <div class="wrap-flexslider">
                    <div class="inner">
                        <div class="flexslider style-1 has-relative" style="height:250px; width:300px;">
                            <ul class="slides">
                                <li data-thumb="">
                                    <img src="~/Content/Gallery/bake2.png" alt="image" style="height:250px; width:300px;" />
                                    <div class="flat-icon style-1">
                                        <a href="~/Content/Gallery/bake2.png" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.flexslider -->
                    </div>
                </div>
            </div><!-- /.col-md-3 -->
            <div class="col-sm-6 col-md-3">
                <div class="wrap-flexslider">
                    <div class="inner">
                        <div class="flexslider style-1 has-relative" style="height:250px; width:300px;">
                            <ul class="slides">
                                <li data-thumb="">
                                    <img src="~/Content/Gallery/bake3.png" alt="image" style="height:250px; width:300px;" />
                                    <div class="flat-icon style-1">
                                        <a href="~/Content/Gallery/bake3.png" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.flexslider -->
                    </div>
                </div>
            </div><!-- /.col-md-3 -->

            <div class="col-sm-6 col-md-3">
                <div class="wrap-flexslider">
                    <div class="inner">
                        <div class="flexslider style-1 has-relative" style="height:250px; width:300px;">
                            <ul class="slides">
                                <li data-thumb="">
                                    <img src="~/Content/Gallery/bake4.png" alt="image" style="height:250px; width:300px;" />
                                    <div class="flat-icon style-1">
                                        <a href="~/Content/Gallery/bake4.png" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.flexslider -->
                    </div>
                </div>
            </div><!-- /.col-md-3 -->
        </div>
    </div>
</section>

<section class="flat-row row-image-box">
    <div class="container">
        <div class="row gutter-10">
            <div class="col-sm-6 col-md-3">
                <div class="wrap-flexslider">
                    <div class="inner">
                        <div class="flexslider style-1 has-relative" style="height:250px; width:300px;">
                            <ul class="slides">
                                <li data-thumb="">
                                    <img src="~/Content/Gallery/bake5.png" alt="image" style="height:250px; width:300px;" />
                                    <div class="flat-icon style-1">
                                        <a href="~/Content/Gallery/bake5.png" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.flexslider -->
                    </div>
                </div>
            </div><!-- /.col-md-3 -->
            <div class="col-sm-6 col-md-3">
                <div class="wrap-flexslider">
                    <div class="inner">
                        <div class="flexslider style-1 has-relative" style="height:250px; width:300px;">
                            <ul class="slides">
                                <li data-thumb="">
                                    <img src="~/Content/Gallery/bake6.png" alt="image" style="height:250px; width:300px;" />
                                    <div class="flat-icon style-1">
                                        <a href="~/Content/Gallery/bake6.png" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.flexslider -->
                    </div>
                </div>
            </div><!-- /.col-md-3 -->
            <div class="col-sm-6 col-md-3">
                <div class="wrap-flexslider">
                    <div class="inner">
                        <div class="flexslider style-1 has-relative" style="height:250px; width:300px;">
                            <ul class="slides">
                                <li data-thumb="">
                                    <img src="~/Content/Gallery/bake7.png" alt="image" style="height:250px; width:300px;" />
                                    <div class="flat-icon style-1">
                                        <a href="~/Content/Gallery/bake7.png" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.flexslider -->
                    </div>
                </div>
            </div><!-- /.col-md-3 -->

            <div class="col-sm-6 col-md-3">
                <div class="wrap-flexslider">
                    <div class="inner">
                        <div class="flexslider style-1 has-relative" style="height:250px; width:300px;">
                            <ul class="slides">
                                <li data-thumb="">
                                    <img src="~/Content/Gallery/bake8.png" alt="image" style="height:250px; width:300px;" />
                                    <div class="flat-icon style-1">
                                        <a href="~/Content/Gallery/bake8.png" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.flexslider -->
                    </div>
                </div>
            </div><!-- /.col-md-3 -->
        </div>
    </div>
</section>


<section class="flat-row row-image-box">
    <div class="container">
        <div class="row gutter-10">
            <div class="col-sm-6 col-md-3">
                <div class="wrap-flexslider">
                    <div class="inner">
                        <div class="flexslider style-1 has-relative" style="height:250px; width:300px;">
                            <ul class="slides">
                                <li data-thumb="">
                                    <img src="~/Content/Gallery/bake9.png" alt="image" style="height:250px; width:300px;" />
                                    <div class="flat-icon style-1">
                                        <a href="~/Content/Gallery/bake9.png" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.flexslider -->
                    </div>
                </div>
            </div><!-- /.col-md-3 -->
            <div class="col-sm-6 col-md-3">
                <div class="wrap-flexslider">
                    <div class="inner">
                        <div class="flexslider style-1 has-relative" style="height:250px; width:300px;">
                            <ul class="slides">
                                <li data-thumb="">
                                    <img src="~/Content/Gallery/bake10.png" alt="image" style="height:250px; width:300px;" />
                                    <div class="flat-icon style-1">
                                        <a href="~/Content/Gallery/bake10.png" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.flexslider -->
                    </div>
                </div>
            </div><!-- /.col-md-3 -->
            <div class="col-sm-6 col-md-3">
                <div class="wrap-flexslider">
                    <div class="inner">
                        <div class="flexslider style-1 has-relative" style="height:250px; width:300px;">
                            <ul class="slides">
                                <li data-thumb="">
                                    <img src="~/Content/Gallery/bake11.png" alt="image" style="height:250px; width:300px;" />
                                    <div class="flat-icon style-1">
                                        <a href="~/Content/Gallery/bake11.png" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.flexslider -->
                    </div>
                </div>
            </div><!-- /.col-md-3 -->

            <div class="col-sm-6 col-md-3">
                <div class="wrap-flexslider">
                    <div class="inner">
                        <div class="flexslider style-1 has-relative" style="height:250px; width:300px;">
                            <ul class="slides">
                                <li data-thumb="">
                                    <img src="~/Content/Gallery/bake12.png" alt="image" style="height:250px; width:300px;" />
                                    <div class="flat-icon style-1">
                                        <a href="~/Content/Gallery/bake12.png" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.flexslider -->
                    </div>
                </div>
            </div><!-- /.col-md-3 -->
        </div>
    </div>
</section>


<section class="flat-row row-image-box">
    <div class="container">
        <div class="row gutter-10">
            <div class="col-sm-6 col-md-3">
                <div class="wrap-flexslider">
                    <div class="inner">
                        <div class="flexslider style-1 has-relative" style="height:250px; width:300px;">
                            <ul class="slides">
                                <li data-thumb="">
                                    <img src="~/Content/Gallery/bake13.png" alt="image" style="height:250px; width:300px;" />
                                    <div class="flat-icon style-1">
                                        <a href="~/Content/Gallery/bake13.png" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.flexslider -->
                    </div>
                </div>
            </div><!-- /.col-md-3 -->
            <div class="col-sm-6 col-md-3">
                <div class="wrap-flexslider">
                    <div class="inner">
                        <div class="flexslider style-1 has-relative" style="height:250px; width:300px;">
                            <ul class="slides">
                                <li data-thumb="">
                                    <img src="~/Content/Gallery/bake14.png" alt="image" style="height:250px; width:300px;" />
                                    <div class="flat-icon style-1">
                                        <a href="~/Content/Gallery/bake14.png" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.flexslider -->
                    </div>
                </div>
            </div><!-- /.col-md-3 -->
            <div class="col-sm-6 col-md-3">
                <div class="wrap-flexslider">
                    <div class="inner">
                        <div class="flexslider style-1 has-relative" style="height:250px; width:300px;">
                            <ul class="slides">
                                <li data-thumb="">
                                    <img src="~/Content/Gallery/bake15.png" alt="image" style="height:250px; width:300px;" />
                                    <div class="flat-icon style-1">
                                        <a href="~/Content/Gallery/bake15.png" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.flexslider -->
                    </div>
                </div>
            </div><!-- /.col-md-3 -->

            @*<div class="col-sm-6 col-md-3">
                <div class="wrap-flexslider">
                    <div class="inner">
                        <div class="flexslider style-1 has-relative" style="height:250px; width:300px;">
                            <ul class="slides">
                                <li data-thumb="">
                                    <img src="~/Content/Gallery/test4.png" alt="image" style="height:250px; width:300px;" />
                                    <div class="flat-icon style-1">
                                        <a href="~/Content/Gallery/test4.png" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- /.flexslider -->
                    </div>
                </div>
            </div><!-- /.col-md-3 -->*@
        </div>
    </div>
</section> 