﻿
@model Bakery.Web.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";

}

<!-- INITIAL SLIDER ON HOME PAGE -->
@*<div class="rev_slider_wrapper fullwidthbanner-container">
        <div id="rev-slider1" class="rev_slider fullwidthabanner">
            <ul>
                <!-- Slide 1 -->
                <li data-transition="random">
                    <!-- Main Image -->
                    <img src="~/Content/images/slider/slider-bg-5.jpg" alt="" data-bgposition="center center" data-no-retina>

                    <!-- Layers -->
                    <div class="tp-caption tp-resizeme text-white font-weight-300"
                         data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-93','-93','-93','-93']"
                         data-fontsize="['24','24','24','18']"
                         data-lineheight="['72','72','72','36']"
                         data-width="full"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="700"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        NEW TREND 2018
                    </div>

                    <div class="tp-caption tp-resizeme text-white font-weight-500"
                         data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-42','-42','-42','-42']"
                         data-fontsize="['52','52','52','40']"
                         data-lineheight="['60','60','60','40']"
                         data-width="full"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        New Collection
                    </div>

                    <div class="tp-caption tp-resizeme text-white font-weight-400 "
                         data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['12','12','12','12']"
                         data-fontsize="['18','18','18','16']"
                         data-lineheight="['72','72','72','38']"
                         data-width="full"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        BIG SALE OF THIS WEEK UP TO 30%
                    </div>

                    <div class="tp-caption"
                         data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['80','80','80','80']"
                         data-width="full"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        <a href="#" class="themesflat-button has-padding-36 bg-accent has-shadow"><span>SHOP NOW</span></a>
                    </div>
                </li>
                <!-- /End Slide 1 -->
                <!-- Slide 2 -->
                <li data-transition="random">
                    <!-- Main Image -->
                    <img src="~/Content/images/slider/slider-bg-1.jpg" alt="" data-bgposition="center center" data-no-retina>

                    <!-- Layers -->
                    <div class="tp-caption tp-resizeme text-333 font-weight-400 text-right"
                         data-x="['right','right','right','center']" data-hoffset="['33','33','33','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-115','-115','-115','-115']"
                         data-fontsize="['22','22','22','22']"
                         data-lineheight="['60','60','60','60']"
                         data-width="full"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="700"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        <span class="text-line left"></span>Summer Fashion<span class="text-line right"></span>
                    </div>

                    <div class="tp-caption tp-resizeme text-333 font-weight-500 letter-spacing-10 text-right"
                         data-x="['right','right','right','center']" data-hoffset="['13','13','13','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['-39','-39','-39','-59']"
                         data-fontsize="['130','130','130','60']"
                         data-lineheight="['130','130','130','60']"
                         data-width="full"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        SALE
                    </div>

                    <div class="tp-caption tp-resizeme text-333 font-weight-400 text-right"
                         data-x="['right','right','right','center']" data-hoffset="['13','13','13','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['50','50','50','5']"
                         data-fontsize="['48','48','48','28']"
                         data-lineheight="['60','60','60','40']"
                         data-width="full"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        UP TO <span class="text-accent">30%</span> OFF
                    </div>

                    <div class="tp-caption text-right"
                         data-x="['right','right','right','center']" data-hoffset="['105','105','105','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['138','138','138','80']"
                         data-width="full"
                         data-height="none"
                         data-whitespace="normal"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_in="x:0px;y:[100%];"
                         data-mask_out="x:inherit;y:inherit;"
                         data-start="1000"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        <a href="#" class="themesflat-button bg-accent has-shadow"><span>BY NOW</span></a>
                    </div>
                </li>
                <!-- /End Slide 2 -->
            </ul>
        </div>
    </div>*@
<!-- END SLIDER -->


<div class="title-section">
    <h1 class="title">
        WELCOME TO ADDO'S
    </h1>
</div>


<!-- FUNCTIONS TO RETRIEVE FEATURED CATEGORIES -->
@if (Model.FeaturedCategories != null & Model.FeaturedCategories.Count >= 4)
{
    var firstCategory = Model.FeaturedCategories[0];
    var secondCategory = Model.FeaturedCategories[1];
    var thirdCategory = Model.FeaturedCategories[2];
    var fourthCategory = Model.FeaturedCategories[3];

    <!-- END FEATURED CATEGORIES FUNCTION -->

    <!-- IMAGE BOX FOR FEATURED CATEGORIES -->
    <section class="flat-row row-image-box">
        <div class="container">
            <div class="row gutter-10">
                <div class="col-sm-6 col-md-3">
                    <div class="flat-image-box style-1 data-effect div-h22 clearfix">
                        <div class="item data-effect-item">
                            <div class="inner">
                                @if (firstCategory != null)
                                {
                                    <div class="thumb">
                                        <img src="@firstCategory.ImageURL" alt="Image" style="height: 330px;">
                                        <div class="elm-btn">
                                            <a href="#" class="themesflat-button bg-white width-150">@firstCategory.Name</a>
                                        </div>
                                        <div class="overlay-effect bg-color-1"></div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div><!-- /.col-md-3 -->
                <div class="col-sm-6 col-md-3">
                    <div class="flat-image-box style-1 row2 data-effect clearfix">
                        <div class="item data-effect-item">
                            <div class="inner">
                                @if (secondCategory != null)
                                {
                                    <div class="thumb">
                                        <img src="@secondCategory.ImageURL" alt="Image" style="height: 330px;">
                                        <div class="elm-btn">
                                            <a href="#" class="themesflat-button bg-white width-150">@secondCategory.Name</a>
                                        </div>
                                        <div class="overlay-effect bg-color-1"></div>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div><!-- /.col-md-3 -->
                <div class="col-sm-6 col-md-3">
                    <div class="flat-image-box style-1 data-effect div-h20 clearfix">
                        <div class="item data-effect-item">
                            <div class="inner">
                                @if (fourthCategory != null)
                                {
                                    <div class="thumb">
                                        <img src="@fourthCategory.ImageURL" alt="Image" style="height: 330px;">
                                        <div class="elm-btn">
                                            <a href="#" class="themesflat-button bg-white width-150">@fourthCategory.Name</a>
                                        </div>
                                        <div class="overlay-effect bg-color-1"></div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div><!-- /.col-md-3 -->

                <div class="col-sm-6 col-md-3">
                    <div class="flat-image-box style-1 data-effect div-h20 clearfix">
                        <div class="item data-effect-item">
                            <div class="inner">
                                @if (thirdCategory != null)
                                {
                                    <div class="thumb">
                                        <img src="@thirdCategory.ImageURL" alt="Image" style="height: 330px;">
                                        <div class="elm-btn">
                                            <a href="#" class="themesflat-button bg-white width-150">@thirdCategory.Name</a>
                                        </div>
                                        <div class="overlay-effect bg-color-1"></div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div><!-- /.col-md-4 -->

            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
}
<!-- END IMAGE BOX FOR FEATURED CATEGORIES -->
<!-- NEW PRODUCTS IMAGE BOX -->
<section class="flat-row row-product-new">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section margin-bottom-52">
                    <h2 class="title">
                        New Desserts
                    </h2>
                </div>

                @{Html.RenderAction("Products", "Widgets", new { isLatestProducts = true });}

            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!-- END NEW PRODUCT IMAGE BOX -->
<!-- SUB MESSAGE FOR SLIDER ANIMATION BOX -->
<section class="flat-row row-animation-box bg-section row-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="flat-animation-block">
                    <div class="title-section width-before-17 bg-before-white margin-bottom-14">
                        <div class="sup-title"><span>From the Addo's family to you:</span></div>
                        <h2 class="title font-size-52 line-height-76">HAPPY HOLIDAYS!</h2>
                        @*<div class="sub-title"><span>MESSAGE FOR SLIDER 2</span></div>*@
                    </div>
                    <div class="elm-btn text-center">
                        <a href="#" class="themesflat-button bg-accent has-padding-36">Shop Now</a>
                    </div>
                </div><!-- /.flat-animation-block -->
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!-- END SUB MESSAGE FOR ANIMATION BOX -->
<!-- MOST BOUGHT DESSERTS BOX -->
<section class="flat-row row-product-project style-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section margin-bottom-41">
                    <h2 class="title">Best Desserts</h2>
                </div>

                @{Html.RenderAction("Products", "Widgets", new { isLatestProducts = false });}

            </div>
        </div>
    </div>
</section>
<!-- MOST BOUGHT DESSERTS BOX -->
<!-- REVIEWS -->
<section class="flat-row shop-detail-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="flat-tabs style-1 has-border">
                    <div class="inner">
                        <ul class="menu-tab">
                            <li class="active">Reviews</li>
                        </ul>
                        <div class="content-tab">
                            <div class="content-inner">
                                <div class="inner max-width-83 padding-top-33">
                                    <ol class="review-list">
                                        <li class="review">
                                            <div class="thumb">
                                                <img src="images/avatar-1.png" alt="Image">
                                            </div>
                                            <div class="text-wrap">
                                                <div class="review-meta">
                                                    <h5 class="name">Sophia Rosla</h5>
                                                    <div class="flat-star style-1">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-half-o"></i>
                                                    </div>
                                                </div>
                                                <div class="review-text">
                                                    <p>I wanted to thank you so much for the rug we have received it really is beautiful and expertly made. I will be recommending you to all our friends.</p>
                                                </div>
                                            </div>
                                        </li><!--  /.review    -->
                                        <li class="review">
                                            <div class="thumb">
                                                <img src="images/avatar.png" alt="Image">
                                            </div>
                                            <div class="text-wrap">
                                                <div class="review-meta">
                                                    <h5 class="name">Jayne Haughton</h5>
                                                    <div class="flat-star style-1">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-half-o"></i>
                                                    </div>
                                                </div>
                                                <div class="review-text">
                                                    <p class="line-height-28">Customer service is very important part of the buying experience to us and we must say that we have found Utility's to be impressive - we will certainly look to buy again in future.</p>
                                                </div>
                                            </div>
                                        </li><!--  /.review    -->
                                    </ol><!-- /.review-list -->
                                    <div class="comment-respond review-respond" id="respond">
                                        <div class="comment-reply-title margin-bottom-14">
                                            <h5>Write a review</h5>
                                            <p>Your email address will not be published. Required fields are marked *</p>
                                        </div>
                                        <form novalidate="" class="comment-form review-form" id="commentform" method="post" action="#">
                                            <p class="flat-star style-2">
                                                <label>Rating*:</label>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </p>
                                            <p class="comment-form-comment">
                                                <label>Review*</label>
                                                <textarea class="" tabindex="4" name="comment" required> </textarea>
                                            </p>
                                            <p class="comment-name">
                                                <label>Name*</label>
                                                <input type="text" aria-required="true" size="30" value="" name="name" id="name">
                                            </p>
                                            <p class="comment-email">
                                                <label>Email*</label>
                                                <input type="email" size="30" value="" name="email" id="email">
                                            </p>
                                            <p class="comment-form-notify clearfix">
                                                <input type="checkbox" name="check-notify" id="check-notify"> <label for="check-notify">Notify me of new posts by email</label>
                                            </p>
                                            <p class="form-submit">
                                                <button class="comment-submit">Submit</button>
                                            </p>
                                        </form>
                                    </div><!-- /.comment-respond -->
                                </div>
                            </div><!-- /.content-inner -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- /.shop-detail-content -->
<!-- END REVIEWS -->


<!-- ICON BOX RIGHT AFTER BEST SOLD PRODUCTS -->
<section class="flat-row row-icon-box bg-section bg-color-f5f">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="flat-icon-box icon-top style-1 clearfix text-center">
                    <div class="inner no-margin">
                        <div class="icon-wrap">
                            <i class="fa fa-truck"></i>
                        </div>
                        <div class="text-wrap">
                            <h5 class="heading"><a href="#">Free Delivery</a></h5>
                            <p class="desc">Get it delivered!</p>
                        </div>
                    </div>
                </div>
            </div><!-- /.col-md-3 -->
            <div class="col-md-3">
                <div class="flat-icon-box icon-top style-1 clearfix text-center">
                    <div class="inner">
                        <div class="icon-wrap">
                            <i class="fa fa-money"></i>
                        </div>
                        <div class="text-wrap">
                            <h5 class="heading"><a href="#">Cash On Delivery</a></h5>
                            <p class="desc">See yur order before you pay!</p>
                        </div>
                    </div>
                </div>
            </div><!-- /.col-md-3 -->
            <div class="col-md-3">
                <div class="flat-icon-box icon-top style-1 clearfix text-center">
                    <div class="inner">
                        <div class="icon-wrap">
                            <i class="fa fa-gift"></i>
                        </div>
                        <div class="text-wrap">
                            <h5 class="heading"><a href="#">Desserts For All</a></h5>
                            <p class="desc">Request a custom order!</p>
                        </div>
                    </div>
                </div>
            </div><!-- /.col-md-3 -->
            <div class="col-md-3">
                <div class="flat-icon-box icon-top style-1 clearfix text-center">
                    <div class="inner">
                        <div class="icon-wrap">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="text-wrap">
                            <h5 class="heading"><a href="#">Open All Week</a></h5>
                            <p class="desc">9:00 AM - 5:00 PM</p>
                        </div>
                    </div>
                </div>
            </div><!-- /.col-md-3 -->
        </div>
    </div>
</section>
<!-- END ICON BOX AFTER BEST SOLD PRODUCTS -->