﻿ 
@{
    ViewBag.Title = "Products";
}

<section class="flat-row flat-iconbox">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <h2 class="title">
                        Products
                    </h2>
                </div>
            </div>
        </div>

        <div id="tableContainer">
            @{
                Html.RenderAction("ProductTable");
            }
        </div>

        <hr />
        <div id="actionContainer">

        </div>
    </div>
</section>


<script>
	function focusAction(controlToFocus) {
		$('html, body').animate({
			scrollTop: $("#" + controlToFocus).offset().top - 100
		}, 1000);
	}
</script>