﻿<!DOCTYPE html>
<html>
<!-- BASIC LAYOUT FOR EVERY PAGE -->
<!-- STYLESHEETS AND RESOURCES FOR RESPONSIVE WEBSITE -->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>@ViewBag.Title - Addo's Bakery</title>


    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/bootstrap.css">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/responsive.css">

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/colors/color1.css" id="colors">

    <!-- Animation Style -->
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/animate.css">


    <!-- Favicon and touch icons  -->
    <link href="favicon.ico" rel="shortcut icon">

    <!--[if lt IE 9]>
        <script src="~/Content/javascript/html5shiv.js"></script>
        <script src="~/Content/javascript/respond.min.js"></script>
    <![endif]-->

    <script src="~/Content/javascript/jquery.min.js"></script>
    <script src="~/Content/javascript/jquery-ui.js"></script>

</head>

<body class="header_sticky header-style-2 has-menu-extra">
    <!-- Preloader Widget -->
    <div id="loading-overlay">
        <div class="loader"></div>
    </div>
    <!-- End Preloader Widget -->




    <!-- TOP NAVIGATION -->
    <div class="boxed">
        <div id="site-header-wrap">
            <!-- LOGO IMAGE AND REDIRECT -->
            <header id="header" class="header clearfix">
                <div class="container-fluid clearfix container-width-93" id="site-header-inner">
                    <div id="logo" class="logo float-left">
                        <a href="@Url.Action("Index", "Home")" title="logo">
                            <img src="~/Content/images/BakeryLogo.png" alt="image" width="107" height="24" data-retina="/Content/images/BakeryLogo.png" data-width="107" data-height="24">
                        </a>
                    </div><!-- END OF LOGO -->

                <!-- Search ICON-->
                    <div class="mobile-button"><span></span></div>
                    <ul class="menu-extra">

                        @if (User.Identity.IsAuthenticated)
                        {
                           <li class="box-login">

                                @User.Identity.Name                     
                          </li>
                        }


                        <!-- Search Bar, still needs to be optimized with a SEO script -->
                        @*<li class="box-search">
            <a class="icon_search header-search-icon" href="#"></a>
            <form role="search" method="get" class="header-search-form" action="#">
                <input type="text" value="" name="s" class="header-search-field" placeholder="Search...">
                <button type="submit" class="header-search-submit" title="Search">Search</button>
            </form>
        </li>*@

                        <!-- Shopping Cart Icon at top, if logged in will take to products if not to log in-->
                        <li class="box-cart nav-top-cart-wrapper">
                            <a class="icon_cart nav-cart-trigger active" href="@Url.Action("Checkout", "Shop")"><span id="cartProductsCount">0</span></a>
                        </li>

                        <!-- Person ICON in navbar, have to create a users page still -->
                        <li class="box-login box-cart nav-top-cart-wrapper">
                            <a class="icon_login nav-cart-trigger active" href="#"></a>
                            <div class="nav-shop-cart">
                                <div class="widget_shopping_cart_content">
                                    <div class="woocommerce-min-cart-wrap">
                                        <ul class="menu">
                                            <li>
                                                <a href="/">HOME</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Login", "Account")">LOGIN</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Index", "Category")">CATEGORIES</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Index", "Product")">PRODUCTS</a>
                                            </li>
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <li>
                                                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul><!-- Center Navigation in NavBar -->
                    <div class="nav-wrap">
                        <nav id="mainnav" class="mainnav">
                            <ul class="menu">
                                <li>
                                    <a href="@Url.Action("Index", "Home")">HOME</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Shop")">SHOP</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Checkout", "Shop")">CHECKOUT</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("About", "Home")">ABOUT US</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Gallery", "Home")">GALLERY</a>
                                </li>
                            </ul>
                        </nav><!-- /.mainnav -->
                    </div>
                </div>
            </header>
        </div>

        @RenderBody()
        
        <!-- Newsletter and social media icons -->
        @*<section class="flat-row mail-chimp">
            <div class="container">
                <div class="row">
                                                           
                    <div class="col-md-8">
                        <div class="subscribe clearfix">*@
                            @*<form action="#" method="post" accept-charset="utf-8" id="subscribe-form">
            <div class="subscribe-content">
                <div class="input">
                    <input type="email" name="subscribe-email" placeholder="Your Email">
                </div>
                <div class="button">
                    <button type="button">SUBCRIBE</button>
                </div>
            </div>
        </form>*@
                            @*<div class="text">
                                <h3>LIKE US ON FACEBOOK!</h3>
                            </div>
                            <ul class="flat-social">
                                <li><a href="@ConfigurationsService.Instance.GetConfig("FacebookURL").Value"><i class="fa fa-facebook"></i></a></li>                    
                            </ul>*@
                        @*</div>
                    </div>
                </div>
            </div>
        </section>*@

        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="widget widget-link">
                            <ul>
                                <li><a href="@Url.Action("About", "Home")">About Us</a></li>
                                <li><a href="@Url.Action("Index", "Shop")">Buy Desserts</a></li>
                                @*<li><a href="blog-list.html">Blog</a></li>*@
                                <li><a href="@Url.Action("Contact", "Home")">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget widget-link link-login">
                            <ul>
                                <li><a href="@Url.Action("Login", "Account")">Login/ Register</a></li>
                                <li><a href="@Url.Action("Checkout", "Shop")">Your Cart</a></li>
                                @*<li><a href="#">Wishlist items</a></li>
                                <li><a href="#">Your checkout</a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget widget-link link-faq">
                            <ul>
                                <li><a href="faqs.html">FAQs</a></li>
                                <li><a href="#">Term of service</a></li>
                          
                           
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget widget-brand">
                            <div class="logo logo-footer">
                                <a href="index.html"><img src="~/Content/images/BakeryLogo.png" alt="image" width="107" height="24"></a>
                            </div>
                            <ul class="flat-contact">
                                <li class="address">Address</li>
                                <li class="phone">@ConfigurationsService.Instance.GetConfig("CompanyPhone").Value</li>
                                <li class="email">Email</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <div class="footer-bottom">
            <div class="container">
                
                   
                        <p class="copyright text-center">LIKE US ON FACEBOOK!</p>
                    
                    @*<ul class="flat-social">
                        <li><a href="@ConfigurationsService.Instance.GetConfig("FacebookURL").Value"><i class="fa fa-facebook"></i></a></li>
                    </ul>*@
                
                <div class="row">
                    <div class="col-md-12">
                        <p class="copyright text-center">Copyright 2018 <a href="@Url.Action("About", "Account")">Addo's Bakery</a></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Go To Top -->
        <a class="go-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Javascript -->
    <script src="~/Content/javascript/tether.min.js"></script>
    <script src="~/Content/javascript/bootstrap.min.js"></script>
    <script src="~/Content/javascript/jquery.easing.js"></script>
    <script src="~/Content/javascript/parallax.js"></script>
    <script src="~/Content/javascript/jquery-waypoints.js"></script>
    <script src="~/Content/javascript/jquery-countTo.js"></script>
    <script src="~/Content/javascript/jquery.countdown.js"></script>
    <script src="~/Content/javascript/jquery.flexslider-min.js"></script>
    <script src="~/Content/javascript/images-loaded.js"></script>
    <script src="~/Content/javascript/jquery.isotope.min.js"></script>
    <script src="~/Content/javascript/magnific.popup.min.js"></script>
    <script src="~/Content/javascript/jquery.hoverdir.js"></script>
    <script src="~/Content/javascript/owl.carousel.min.js"></script>
    <script src="~/Content/javascript/equalize.min.js"></script>
    <script src="~/Content/javascript/gmap3.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIEU6OT3xqCksCetQeNLIPps6-AYrhq-s&region=GB"></script>
    <script src="~/Content/javascript/jquery-ui.js"></script>

    <script src="~/Content/javascript/jquery.cookie.js"></script>
    <script src="~/Content/javascript/main.js"></script>

    <!-- Revolution Slider -->
    <script src="~/Content/rev-slider/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Content/rev-slider/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Content/javascript/rev-slider.js"></script>
    <!-- Load Extensions only on Local File Systems ! The following part can be removed on Server for On Demand Loading -->
    <script src="~/Content/rev-slider/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/Content/rev-slider/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/Content/rev-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/Content/rev-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/Content/rev-slider/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/Content/rev-slider/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/Content/rev-slider/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/Content/rev-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/Content/rev-slider/js/extensions/revolution.extension.video.min.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>
</html>